<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>459633052492-s7ev48baapqqc7kkh6n92qgp3si5k4su.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.459633052492-s7ev48baapqqc7kkh6n92qgp3si5k4su</string>
	<key>API_KEY</key>
	<string>AIzaSyB_kR6IuLp7rGnEa9Y00FnR9JBjzNCKzk8</string>
	<key>GCM_SENDER_ID</key>
	<string>459633052492</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.app.wdproject</string>
	<key>PROJECT_ID</key>
	<string>wd-app-da613</string>
	<key>STORAGE_BUCKET</key>
	<string>wd-app-da613.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:459633052492:ios:80a2fc822f6c8ae1b85de9</string>
	<key>DATABASE_URL</key>
	<string>https://wd-app-da613.firebaseio.com</string>
</dict>
</plist>